/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Helvetica", sans-serif;
}

.container {
  display: flex;
}

#door-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover {
  background-color: #5CBF60;
  color: white;
}


#camera {
  object-fit: none; 
  background-color: gray;
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  #door-button{
    margin-top: 10px;
    width: 400px;
  }

  #camera {
    object-position: 42% 40%;
    width: 400px; 
    height: 600px; 
  }
}


@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
  }

  #door-button{
    margin-left: 10px;
    height: 350px;
  }

  #camera{
    object-position: 30% 35%;
    width: 700px; 
    height: 350px; 
  }
}

